<div class="dashboardContainer">
<div class="navigationBar">
  <div class="appHeader">
      Pingme
  </div>
  <div class="navigator" *ngIf="obj">
      <div class="orgTitle">
        {{obj.orgname}}
      </div>
      <div class="navigationMenu">
        <div>
            <mat-icon class="mat18">dashboard</mat-icon> dashboard
        </div>
        <div>
            <mat-icon class="mat18">contacts</mat-icon> contacts
        </div>
        <div>
            <mat-icon class="mat18">groups</mat-icon> groups
        </div>
        <div>
            <mat-icon class="mat18">email</mat-icon> mail templates
        </div>
        <div>
            <mat-icon class="mat18">message</mat-icon> SMS templates
        </div>
        <div>
            <mat-icon class="mat18">person</mat-icon> profile
        </div>
      </div>
  </div>
</div>
<div class="dashboard">
  
</div>
</div>