/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,body{
    height: 100%;   
    margin: 0;
   
}
body{
    background-image:url('assets/images/bg.png');   
}
.custom .mat-card-header-text{
    padding: 5px;
    text-align: center;
    margin: auto !important;
}
.custom .mat-input-underline{
    display: none;
}
.custom .mat-input-infix{
    border: 1px solid #efefef;
    border-radius: 15px;
    padding-left: 32px;
    padding-bottom: 0px;
    height: 25px;
    background-color: #F1F2F7;
    box-shadow: 0px 2px 5px 0px rgba(51, 47, 47, 0.3);
}
.custom.noIcon .mat-input-infix{
    padding-left: 15px;
}
.custom.noIcon .mat-input-placeholder{
    padding-left: 15px;
    padding-top: 2px;
}
.custom .mat-input-element{
    top: 2px;
    position: relative;
    font-family: "Actor";
    font-weight: "bold";
}
.custom.box .mat-input-infix{
    border-radius: 0px ;
}
.customTextarea .mat-input-infix{
    height: 150px;
    padding-top: 4px;
}
.customTextarea textarea{
    height: 100%;
}
.loginCard mat-form-field{
    padding-top: 5px;
}
.loginContainer button span{
    font-family: "abeezee";
    color: #ffff;
}
.registrationContainer .mat-card-header-text{margin-left: 0px;}
.material-icons.mat12{font-size: 12px;height: 12px;width: 12px;}
.material-icons.mat14{font-size: 14px;height: 14px;width: 14px;}
.material-icons.mat16{font-size: 16px;height: 16px;width: 16px;}
.material-icons.mat18{font-size: 18px;height: 18px;width: 18px;}
.loginFieldContainer .material-icons{
    position: absolute;
    z-index: 1;
    color: grey;
    padding: 10px;
    padding-left: 12px;
    padding-top: 12px;
}
.custom .mat-focused .mat-input-infix{border-color: grey; }
.custom .submittedForm .ng-invalid.mat-focused .mat-input-infix{border:1px solid #CC0B0B;}
.loginContainer .mat-button-ripple{border-radius: 25px;}
.flt{float: left;}
.w25p{width: 25%;}.w50p{width: 50%;}.w98p{width: 98%;}.w100p{width: 100%;}
.pt5{padding-top:5px;}





















@font-face {
    font-family: "Advent-regular";
    src: url("/assets/fonts/advent-pro/AdventPro-Regular.ttf");
}
@font-face {
    font-family: "Advent-Bold";
    src: url("/assets/fonts/advent-pro/AdventPro-Bold.ttf");
}    
@font-face {
    font-family: "Advent-Thin";
    src: url("/assets/fonts/advent-pro/AdventPro-Thin.ttf");
}    
@font-face {
    font-family: "Actor";
    src: url("/assets/fonts/actor/Actor-Regular.ttf");
}
@font-face {
    font-family: "abeezee";
    src: url("/assets/fonts/abeezee/ABeeZee-Regular.ttf");
}
@font-face {
    font-family: "abeezee-italic";
    src: url("/assets/fonts/abeezee/ABeeZee-Italic.ttf.ttf");
}