/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,body{
    height: 100%;   
    width: 100%;
    position: absolute;
    margin: 0;
    overflow: hidden;
}
body{
    background-image:url('assets/images/bg.png');   
}
.custom .mat-card-header-text{
    padding: 5px;
    text-align: center;
    margin: auto !important;
}
.custom .mat-input-underline{
    display: none;
}
.custom .mat-input-infix{
    border: 1px solid #efefef;
    border-radius: 15px;
    padding-left: 32px;
    padding-bottom: 0px;
    height: 25px;
    background-color: #F1F2F7;
    box-shadow: 0px 2px 5px 0px rgba(51, 47, 47, 0.3);
}
.custom.noIcon .mat-input-infix{
    padding-left: 15px;
}
.custom.noIcon .mat-input-placeholder{
    padding-left: 15px;
    padding-top: 2px;
}
.custom .mat-input-element{
    top: 2px;
    position: relative;
    font-family: "Actor";
    font-weight: "bold";
}
.custom.box .mat-input-infix{
    border-radius: 0px ;
}
.customTextarea .mat-input-infix{
    height: 150px;
    padding-top: 4px;
}
.customTextarea textarea{
    height: 100%;
}
.loginCard mat-form-field{
    padding-top: 5px;
}
.loginContainer button span{
    font-family: "abeezee";
    color: #ffff;
}
.registrationContainer .mat-card-header-text{margin-left: 0px;}
.material-icons.mat12{font-size: 12px;height: 12px;width: 12px;}
.material-icons.mat14{font-size: 14px;height: 14px;width: 14px;}
.material-icons.mat16{font-size: 16px;height: 16px;width: 16px;}
.material-icons.mat18{font-size: 18px;height: 18px;width: 18px;}
.loginFieldContainer .material-icons{
    position: absolute;
    z-index: 1;
    color: grey;
    padding: 10px;
    padding-left: 12px;
    padding-top: 12px;
}
.custom .mat-focused .mat-input-infix{border-color: grey; }
.custom .submittedForm .ng-invalid.mat-focused .mat-input-infix{border:1px solid #CC0B0B;}
.loginContainer .mat-button-ripple{border-radius: 25px;}
.flt{float: left;}
.w25p{width: 25%;}.w50p{width: 50%;}.w98p{width: 98%;}.w100p{width: 100%;}
.pt5{padding-top:5px;}

tag-input{padding-bottom: 15px;}
.ng2-tags-container
{
    background-color: #efefef;
    padding-left: 8px;
    height: 34px;
    box-shadow:0px 2px 5px 0px rgba(51, 47, 47, 0.3); 

}
tag{
    border-radius: 5px !important;
    background-color: #fff !important;
    height: 25px !important;
    line-height: 26px !important;
    margin-top: 3px !important
}
tag:not(.readonly):not(.tag--editing):focus{
    background-color: rgb(54,144,240) !important; /* Old browsers */
    background-color: -moz-linear-gradient(left, rgba(54,144,240,1) 50%, rgba(30,105,222,1) 92%) !important; /* FF3.6-15 */
    background-color: -webkit-linear-gradient(left, rgba(54,144,240,1) 50%,rgba(30,105,222,1) 92%) !important; /* Chrome10-25,Safari5.1-6 */
    background-color: linear-gradient(to right, rgba(54,144,240,1) 50%,rgba(30,105,222,1) 92%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color:#fff;
} 
tag-input-form{
    padding: 4px !important;
}
.ng2-tag-input__text-input{
    background-color: #efefef;
    height: 30px !important;
}
tag-input-form form{
    top: 4px !important;
    position: absolute !important;
    height: 30px !important;
}
delete-icon svg
{
    height: 26px !important;
}
.tag__text inline{
    height:25px !important;
    }
 .ng2-tag-input--focused,.ng2-tag-input{
     border-bottom: none !important; 
 }   
.messageContainer .mat-form-field-wrapper{padding-bottom: 0px;}
.loader .my-loader {
    background-color: #D32F2F;
}
.page-loader,.page-loader:before,.page-loader:after{
        background-color:rgba(30,105,222,1) !important;
    }
    .page-loader{
        margin: 0 auto !important;
    }
.loaderContainer,.page-loader,.loaderContainer .loader-inner{
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    opacity: 25;
    margin: auto !important;
}
@font-face {
    font-family: "Advent-regular";
    src: url("/assets/fonts/advent-pro/AdventPro-Regular.ttf");
}
@font-face {
    font-family: "Advent-Bold";
    src: url("/assets/fonts/advent-pro/AdventPro-Bold.ttf");
}    
@font-face {
    font-family: "Advent-Thin";
    src: url("/assets/fonts/advent-pro/AdventPro-Thin.ttf");
}    
@font-face {
    font-family: "Actor";
    src: url("/assets/fonts/actor/Actor-Regular.ttf");
}
@font-face {
    font-family: "abeezee";
    src: url("/assets/fonts/abeezee/ABeeZee-Regular.ttf");
}
@font-face {
    font-family: "abeezee-italic";
    src: url("/assets/fonts/abeezee/ABeeZee-Italic.ttf.ttf");
}
@keyframes fallDown{
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}
